<div class="profile-header">
    <h1 class="profileName">{{username}}</h1>
</div>

<div class="profileBio">
    <h2 class="aboutTheAuthor">About the Author</h2>
    <textarea name="userBio" id="userBioText" placeholder="{{bio}}"></textarea>
    <button class="bioSubmit" id="userBioChange">Save Changes</button>
</div>