<div class="storyTopRow">
    <div class="cardStoryTitle">
        <h2>{{title}}</h2>
        <div class="authorInfo">

            <p class="authorName"> Author Name: {{user.username}}</p>
        </div>
    </div>



    <div class="contributors">

        <h3><b>Number of Contributors: {{contributions.length}}</b></h3>

    </div>

</div>

<div class="storyBottomRow">
    <p>{{beginning}}</p>


</div>