<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Ghostwriter</title>
</head>

<body>

    <div class="header">

        <h1>Ghostwriter</h1>

        <div class="container">

            <div class="search-bar">
                <button class="search-button"><i class="material-icons" id="search-icon">search</i></button>
                <input type="text" placeholder="Search...">
            </div>

            <div class="profile">
                <button class= "button profile-button">
                    <i class="material-icons" id="profile-icon">person_outline</i>
                    Profile
                </button>
            </div>
        </div>
    </div>
    
<   div class="container-2">
        
        <div class="menu">
            <button class="button button1">Start a New Story</button>
            <button class="button button2">View My Stories</button>
            <button class="button button3">Community Guidelines</button>
        </div>

        <div class="feed">
            <!-- Story Containers Go Here -->
        </div>
    </div>

    <div class="footer">
        <h2>Made by Team 007</h2>
        <p>
            &copy; 2021 Ghostwriter
        </p>
    </div>

</body>
</html>