<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=New+Tegomin">
    <title>Ghostwriter</title>
</head>

<body>

    <div class="header">

        <h1><a href="/">Ghostwriter</a></h1>

        <div class="container">

            <form class="search-bar">
                <button type="submit" class="search-button" id="searchButton"><i class="material-icons" id="search-icon">search</i></button>
                <input type="text" placeholder="Search..." id="searchInput">
            </form>

            <div class="profile">
                <button class="button profile-button">
                    {{#if loggedIn}}
                    <i class="material-icons" id="profile-icon">person_outline</i>
                    Profile
                    {{else}}
                    <i class="material-icons" id="profile-icon">person_outline</i>
                    Login/Signup
                    {{/if}}
                </button>
            </div>
        </div>
    </div>

    {{{ body }}}

    <div class="footer">
        <h2>Made by Team 007</h2>
        <p>
            &copy; 2021 Ghostwriter
        </p>
    </div>

</body>
    <script src="/javascript/main.js"></script>
</html>