<div class="container-2">

    <div class="story-input">

        <h2>Start a New Story</h2>

        <input id="title" type="text" placeholder="Title...">

        <textarea id="story-text" placeholder="Once Upon a Time..."></textarea>

        <label class="checkbox-container">Limit Contributions
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>

        <button id="post-story-btn">Post</button>

    </div>

    <div class="feed">
        {{!-- {{ #each stories }}
        {{ > card stories }}
        {{ /each }} --}}
    </div>

    <div class="my-stories">
        <h2>My Stories</h2>
        {{!-- {{ #each titles }}
        {{ > myStoryCard titles }}
        {{ /each }} --}}
    </div>
</div>