<div class="container-2">

    <div class="story-input" id="story-input">

        <h2 id="display-confirmation">Story Posted!</h2>

    {{#if loggedIn}}
        <form class="story-form" id="input-fields">

            <h2>Start a New Story</h2>

            <input id="title" type="text" placeholder="Title...">

            <textarea name="storyText" id="story-text" placeholder="Once Upon a Time..."></textarea>

            {{!-- <label class="checkbox-container">Limit Contributions
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label> --}}

            <button type="submit" id="post-story-btn">Post</button>
        </form>
    {{/if}}

    </div>

    <div class="feed">
        <div class="feed-header">
            <img id="book-image" src="/images/open-book.png" alt="Open Book">
        </div>

        {{#each allStories as |story|}}
        {{> card story}}
        {{/each}}
    </div>

    <div class="my-stories">
        <h2>My Stories</h2>
        {{#if userStories}}
        {{#each userStories as |story|}}
        {{> mystories story}}
        {{/each}}
        {{/if}}
    </div>
</div>
    <script src="/javascript/homepage.js"></script>

