<div class="container-2">

    <div class="story-input" id="story-input">

        <h2 id="display-confirmation">Story Posted!</h2>

        <div id="input-fields">

            <h2>Start a New Story</h2>

            <input id="title" type="text" placeholder="Title...">

            <textarea id="story-text" placeholder="Once Upon a Time..."></textarea>

            {{!-- <label class="checkbox-container">Limit Contributions
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label> --}}

            <button id="post-story-btn">Post</button>
        </div>
        

    </div>

    <div class="feed">
        {{> card tempobject }} 
        <!-- Story Containers Go Here -->
    </div>

    <div class="my-stories">
        <h2>My Stories</h2>
        <!-- list of my stories goes here -->
    </div>
</div>

