<form class="login login-form">
  <h4 class="">Login</h4>

  <div class="w-75">

    <h5 class="">Username</h5>
    <input class="w-100" type="text" id="username-login"/>
    <h5 class="">Password</h5>
    <input class="w-100" type="password" id="password-login"/>
    <button class="w-100" type="submit">Login</button>

  </div>
</form>

<div class="login-center">
  <h3>Don't Have an Account? Signup Down Below!</h3>
</div>


<form class="login signup-form">
  <h4 class="">Signup</h4>

  <div class="w-75">

    <h5>Username</h5>
    <input class="w-100" type="text" name="" id="username-signup"/>
    <h5>Email</h5>
    <input class="w-100" type="text" id="email-signup"/>
    <h5>Password</h5>
    <input class="w-100" type="password" id="password-signup"/>
    <button class="w-100" type="submit">Signup</button>

  </div>
</form>
<script src="/javascript/login.js"></script>
