<div class=userStoriesPage>

    <div class="profileCard">

       {{> bio userInfo}}
    </div>

    <div class="myStoriesCard">
        <div class=myStoriesHeadline>
            <h1> My Stories</h1>
        </div>

        <div class="myStoriesList">
            <h3>Stories which you have contributed to</h3>
        </div>
 <div class="myStoriesList">
        {{#if userStories}}
        {{#each userStories as |story|}}
        {{> mystories story}}
        {{/each}}
        {{/if}}
    </div>

    </div>


   



</div>
<button id="logout">LOGOUT</button>
<script src="/javascript/logout.js"></script>
<script src="/javascript/bio.js"></script>