<div class=userStoriesPage>

    <div class="profileCard">

        <div class="profile-header">
            <img id="profile-image" src=".public/images/stranger.png" alt="Profile Image">
            <h1 class="profileName">Ash Ketchum</h1>
        </div>

        <div class="profileBio">
            <h2 class="aboutTheAuthor">About the Author</h2>
            <p class="bioText">lorem ipsum dolor sit amet, consectet lorem lorem ipsum dolor</p>
        </div>

    </div>



    <div class="myStoriesCard">
        <div class=myStoriesHeadline>
            <img id="book-image" src=".public/images/open-book.png" alt="Open Book">
            <h1 id="my-stories"> My Stories</h1>
        </div>

        <div class="myStoriesList">
            <!-- Handlesbars for myStories go here -->
        </div>


    </div>
</div>