<div class="wholePage">

        <div class="storyCard">

            <div class="storyContainer">
               {{> story-info story }}
            </div>


        </div>
        <div>

            {{> contribution story }}
            
        </div>

    {{#if loggedIn}}
        <div class="addToStoryCard">
            <h2 class="addToStoryText">Add your story here!</h2> 
            <textarea class="addToStoryTextBox" type="text" name="addToStoryBox1" placeholder="Meanwhile, our hero..." ></textarea>
        </div>
        <div class="submitButtonDiv">
            {{!-- <h3 class="submitButton">Submit Your Story!</h3> --}}
            <button class="submitButton" id="addToStory">Add to the Story!</button>
        </div>
    {{/if}}
</div>

<script src="/javascript/story.js"></script>