<div class="wholePage">

        <div class="storyCard">

            <div class="storyContainer">
                <div class="storyTopRow">
                    <div class="cardStoryTitle">
                        <h2>Story #1</h2>
                        <div class="authorInfo">

                            <p class="authorName"> Author Name: Ash Ketchum</p>
                        </div>
                    </div>



                    <div class="contributors">

                        <h3><b>Number of Contributors ###</b></h3>

                    </div>

                </div>

                <div class="storyBottomRow">
                    <p>Story story story Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio et
                        exercitationem
                        voluptatibus, tempora quas nulla atque suscipit laboriosam corrupti ut veritatis, amet possimus
                        modi
                        consequuntur sed quam, corporis nobis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Pariatur
                        rerum atque praesentium amet ratione? Quam nihil quos expedita sequi accusamus laudantium
                        inventore
                        dicta!
                        Vero libero laudantium eveniet, suscipit animi ex. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.
                        Repellat quae dolore iste doloremque maxime esse, minima exercitationem eos, hic totam fuga. Et,
                        sint officia.
                        Exercitationem esse quibusdam dolore veniam pariatur.</p>


                </div>

            </div>


        </div>
        <div>


            <div class="contributorCard">
                <div class="contributorCardUserName">
                    <h1>USERNAME</h1>
                </div>
                <div class="contributorCardText">
                    <p>text goes here lorem ips Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
                        debitis ducimus animi autem consequatur voluptatum voluptate voluptates ullam, error, eius
                        reprehenderit, quo adipisci odio soluta est rem. Minima, repellendus perspiciatis!</p>
                </div>

            </div>
        </div>

        <div class="addToStoryCard">
            <h2 class="addToStoryText">Add your story here!</h2> 
            <textarea class="addToStoryTextBox" type="text" name="addToStoryBox1" placeholder="Meanwhile, our hero..." ></textarea>
        </div>
        <div class="submitButtonDiv">
            <h3 class="submitButton">Submit Your Story!</h3>
        </div>
    </div>