* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background: white;
  --cashmere: #cfc7c3;
  --dusty-blue: #b6bbbf;
  --charcaol: #5a5a58;
  --denim: #737c8d;
}

body {
  background-color: white;
  font-family: "New Tegomin";
}

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--charcaol);
  color: white;
}

.header h1 {
  text-align: center;
  font-size: 48px;
  font-family: "New Tegomin";
}

h1 a:link {
  color: white;
  text-decoration: none;
}

h1 a:visited {
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: white;
  text-decoration: none;
}

h1 a:active {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  border: none;
  background-color: var(--charcaol);
  color: white;
  padding: 2px;
  margin-top: 8px;
  margin-right: 8px;
}

.search-button:hover {
  background-color: white;
  color: var(--charcaol);
}

.container input[type="text"] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.profile-button {
  background-color: var(--charcaol);
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  border: none;
  font-size: 20px;
  width: 150px;
}

.profile-button:hover {
  background-color: white;
  color: var(--charcaol);
}

#profile-icon {
  margin-right: 0.5em;
}

/* BEGIN homepage.handlebars */
.container-2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#display-confirmation {
  padding-top: 150px;
  text-align: center;
}

.story-input {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#title {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#story-text {
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* The checkbox-container
/* .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Create a custom checkbox */
/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
/* .container input:checked ~ .checkmark {
  background-color: #2196f3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the checkmark when checked */
/* .container input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
/* .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

#post-story-btn {
  border: none;
  width: 100px;
  height: 50px;
}

#post-story-btn:hover {
  background-color: var(--denim);
  color: white;
}

.feed {
  background-color: var(--cashmere);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 4;
}

.feed-header {
  padding: 20px;
  position: relative;
  text-align: center;
  color: var(--charcaol);
}

#feed-book-image {
  width: 400px;
  height: 70px;
}

.my-stories {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  width: 20%;
}
/* END homepage.handlebars  */

.footer {
  padding: 30px;
  clear: both;
  text-align: center;
  color: var(--charcaol);
  font-family: "New Tegomin";
}

.footer h2 {
  font-size: 20px;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: #737c8d solid 5px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.login div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.login h5 {
    font-size: 18px;
    padding-top: 7px;
}

.login h4 {
  width: 100%;
  background-color: var(--denim);
  padding: 10px;
  font-size: 22px;
}

.login input {
    height: 30px;
    border: var(--charcaol) solid 2px;
}

.login button {
  padding: 5px;
  margin-top: 10px;
  background-color: var(--charcaol);
  color: var(--cashmere);
  font-size: 18px;
}

.login button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.login-center {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 25px;
}

/* STORY CSS START */
.storyCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 95%;
  margin-bottom: 15px;
}

.storyCard:hover {
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.2);
}

.contributorCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  flex-direction: row;
  margin-top: 15px;
  margin: auto;
  width: 95%;
  margin-bottom: 15px;
}

.contributorCard:hover {
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.2);
}

.storyContainer {
  padding: 2px 16px;
}

.contributors {
  text-align: right;
  padding: 2px 16px;
  display: flex;
  align-items: right;
}

.storyBottomRow {
  display: flex;
  font-size: 32px;
}

.storyTopRow {
  display: flex;
  justify-content: space-between;
}

.authorInfo {
  display: flex;
}

.cardStoryTitle {
  border-bottom: 15px;
  font-style: italic;
}

.contributorCardText {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  margin: 15px;
}

.contributorCardUserName {
  font-style: italic;
  font-size: 12px;
  margin: 15px;
}

.addToStoryCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  flex-direction: row;
  margin: auto;
  width: 95%;
  margin-bottom: 15px;
}

.addToStoryCard:hover {
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.2);
}

.addToStoryText {
  font-style: italic;
  margin: 15px;
  margin-bottom: 50px;
}

.addToStoryTextBox {
  color: grey;
  border-radius: 2px;
  background-color: lightgrey;
  padding: 15px 20px;
  margin: auto;
  width: 90%;
  height: 80%;
  transition: 0.5s;
}

.addToStoryTextBox:focus {
  border: 5px solid grey;
  background-color: white;
}


.submitButton {
  background-color: grey;
  color: white;
  padding: 25px;
  border-radius: 15px;
  margin: auto;
  width: 92.5%;
  font-size: 32px;

}

.bioSubmit {
  background-color: grey;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin: auto;
  font-size: 20px;
}

#userBioText {
  width: 100%;
  height: 60px;
}

.submitButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* STORY CSS END */



/* PROFILE CSS START */

.userStoriesPage {
  display: flex;
  flex-direction: row;
}

.profileCard {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  padding: 10%;
  align-items: center;
}

#profile-image {
  height: 100px;
  width: 100px;
}

.profileName {
  font-size: 40px;
  color: var(--charcaol);
}

.profileBio {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--charcaol);
}


.myStoriesCard {
  background-color: var(--cashmere);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 3;
  margin: 20px 20px 0 20px;
  padding: 30px;
}

.myStoriesHeadline {
  position: relative;
  text-align: center;
  color: var(--charcaol);
}

#book-image {
  width: 400px;
  height: 70px;
}

#my-stories {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PROFILE CSS END */


/* CARD CSS BEGIN */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer {
  margin-top: 10px;
  padding: 2px 16px;
  width: 100%;

}

.contributors {
  text-align: right;
  padding: 2px 16px;
  display: flex;
  align-items: right;
}

.commentButton {
  background-color: grey;
  border: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 25px;
  border-radius: 15px;
  align-self: flex-end;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.authorInfo {
  display: flex;
}

.storyTitle {
  border-bottom: 15px;
}



/* CARD CSS END */